{erl_opts, [debug_info]}.

{deps, [
  {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.0.0-pre.1"}}},
  {apns, "2.2.1", {pkg, apns4erl}},
  {worker_pool, "4.0.0"}]}.

{relx, [{release, { rest_apple_push, "0.1.0" },
         [rest_apple_push,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{plugins, [rebar3_run]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
